{% extends "layout.html" %}

{% block content %}

<h2 class="title" ><i class="fa fa-skyatlas"></i> 数科腾云，数据管理平台.</h2>
<h3 class="title" id="LoginSub">物有本末，事有终始，知所先后，则近道矣.</h3>

<p class="index-text">
    2020级数据科学与人工智能实验班寒假大作业。<br />
    小组成员：陈其轩、何金原、王启帆<br />
    指导老师：郭亮教授、王晓强教授、王猛老师<br />
    <b>特别感谢：</b>田所&emsp;浩二<br />
    &emsp;&emsp;&emsp;&emsp;&emsp;奥尔加 · 伊兹卡<br />
    &emsp;&emsp;&emsp;&emsp;&emsp;西冰库大酒店 Inc.<br />
    &emsp;&emsp;&emsp;&emsp;&emsp;Sir Humphrey Appleby<br />
    &emsp;&emsp;&emsp;&emsp;&emsp;Васил · Троянов · Боянов<br />

</p>

{% endblock %}
