<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <title>迎建党百年，看乡村振兴</title>
    <link rel="stylesheet" type="text/css" href="/static/CFPSProject/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="/static/CFPSProject/css/main.css">
</head>
<body>
    <!--The Prologue-->
    <div class="main main3">
        <div class="blank"></div>
        <div class="title"><img src="/static/CFPSProject/images/titlePC.png"></div>
        <div class="title_phone"><img src="/static/CFPSProject/images/titlePhone.png"></div>
        <div class="content-container">
            <div class="content-wrap">
                <br>
                <div style="text-align: left;">
                    <blockquote>
                        &emsp;&emsp;“实施乡村振兴战略，是党的十九大作出的重大决策部署，
                        是决胜全面建成小康社会、全面建设社会主义现代化国家的重大历史任务，
                        是新时代做好‘三农’工作的总抓手。”<br>
                        <p style="text-align: right;">
                            ——习近平同志在参加十三届全国人大一次会议山东代表团审议时
                        </p>
                    </blockquote>
                </div>
                <p>
                    &emsp;&emsp;中国共产党成立的一百周年、
                    第二个百年目标的第一年，
                    2021年是我国现代化建设进程中具有特殊重要性的一年。
                    在这格外特别的一年里，
                    中国的城乡发展差异正在越来越广泛地引起大众的关注，
                    乡村振兴战略也正越来越频繁地被群众谈论。
                </p>
                <p>
                    &emsp;&emsp;中国的城乡差异表现在哪里？
                    中国的农村存在着什么问题？
                    乡村振兴应该如何实现？
                    我们将借助由海量数据生成的优质图表，
                    向您介绍我们所调查发现的不同年份、
                    地域视角下的中国城乡差异与乡村振兴。
                </p>

                <h1 style="text-align: center;">
                    中国城乡差异
                </h1>
                <p>
                    &emsp;&emsp;中国农业大学公共管理系主任张正河教授指出城乡差距主要表现在以下方面：<br>
                    &emsp;&emsp;&emsp;&emsp;一是城乡居民收入差距。<br>
                    &emsp;&emsp;&emsp;&emsp;二是城乡教育差距。<br>
                    &emsp;&emsp;&emsp;&emsp;三是城乡医疗差距。<br>
                    &emsp;&emsp;&emsp;&emsp;四是城乡消费差距。<br>
                    ……<br><br>
                    &emsp;&emsp;我们将聚焦于以上方面，
                    宏观的对各地域各年份的城乡差异演变与现状做出展示并进行分析。
                </p>
                
                <p>
                    &emsp;&emsp;本文所涉及数据主要来源于CFPS（中国家庭追踪调查）。
                </p>

                <div class="image-wrapT">
                    <div id="B_CFPS_QuestionnaireComponent" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;*由于CFPS在一些领域上缺失必要数据，
                    教育模块中的乡村与城市义务教育后升学情况对比 （E）实际上来自中国社会综合调查（CGSS）。
                    而经济模块中的城乡恩格尔系数的比较（2010-2018年）
                    （E）与医疗板块中的2010-2018年间城乡医疗卫生机构床位数及每千人口床位数数据来自中国统计年鉴。
                </p>

                <br><br>
            </div>
        </div>
    </div>

    <!--The Economy-->
    <div class = "main main4">
        <div class="blank"></div>
        <div class="title"><img src="/static/CFPSProject/images/economyPC.png"></div>
        <div class="title_phone"><img src="/static/CFPSProject/images/economyPhone.png"></div>

        <div class="content-container">
            <div class="content-wrap">
                <p>
                    &emsp;&emsp;经济水平是反映一个地区发展程度的重要指标，
                    在进行城乡差异相关问题分析时，
                    我们应首要关注城镇与乡村在经济上的差异。
                    让我们浏览2010-2018年城乡家庭现金及存款的对比图表，
                    直观地感受乡村与城镇间的经济水平差异。
                </p>

                <div class="image-wrapT">
                    <div id="A_Comparison_Cash_BankSaving" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;通过图表，我们可以了解到，
                    乡村地区的家庭现金及存款金额大约为城镇地区的一半，
                    但我们可以发现，近年来随着国家对乡村地区经济发展的重视，
                    城乡之间的经济水平差异比例正在逐年下降，这一点是十分值得欣喜的。
                </p>

                <p>
                    &emsp;&emsp;类似的还有2010-2018年城乡人均可支配收入的对比图表。
                </p>                

                <div class="image-wrapT">
                    <div id="B_Comparison_PerCapitaDisposableIncome" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;该图表同样表明，
                    尽管乡村居民与城镇居民之间的人均可支配收入仍存在着较大的差距，
                    但这一差距比例正在逐渐缩小，与家庭现金及存款金额不同的是，
                    自14年后，城乡人均可支配收入差异便稳定在一个较小的数值。
                </p>

                <p>
                    &emsp;&emsp;接下来，
                    让我们通过2018年城镇居民人均消费支出及其构成表、
                    2018年乡村居民人均消费支出及其构成表来了解城乡居民在消费支出构成上的差异。
                </p>

                <div class="image-wrapT">
                    <div id="C1_City_PerCapitaConsumptionExpenditure" style="height: 100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id="C2_Country_PerCapitaConsumptionExpenditure" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;从表中我们可以看出，城乡居民在消费支出构成上并无太大差距，
                    但在城镇居民的消费中，交通与居住开销占有更大的比重，
                    这与城镇中更高的地价与更高昂的出行成本有关。
                </p>
                
                <p>
                    &emsp;&emsp;接下来，我们将在地域视角下对城乡经济水平差异进行分析。
                </p>

                <div class="image-wrapT">
                    <div id="D1_City_Division_Area_PerCapitaDisposableIncome" style="height: 100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id="D2_Country_Division_Area_PerCapitaDisposableIncome" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;上图为2012-2018年城镇居民按地区分组的人均可支配收入表与2012-2018年乡村居民按地区分组的人均可支配收入表。
                    从表中不难看出，各地区的城乡居民人均可支配收入差距差别不大。东部地区拥有最高的人均可支配收入，
                    紧随其后的是中部、西部与东北地区。   

                </p>

                <p>
                    &emsp;&emsp;2012-2018年期间各地区之间的人均可支配收入比重长期不变的同时保持稳定增长。
                    值得注意的是，中部地区的经济增速尤其亮眼，
                    这是因为促进中部地区崛起战略的实施使得中部地区的经济取得长足发展。
                </p>

                <p>
                    &emsp;&emsp;接下来让我们将注意力集中于经济发展程度最重要的指标之一——恩格尔系数：
                </p>

                <div class="image-wrapT">
                    <div id="E_Comparison_Engel" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;从图表中，我们欣喜地发现，自2010年始，我国城乡居民恩格尔系数均呈现大幅下降趋势，
                    这意味着食品支出在消费中占比越来越小，表明我国城乡居民水平生活水平均保持不断大幅提高。
                </p>

            </div>    
        </div>  

    </div>

    <!--The Medical Service-->
    <div class="main main1">
        <div class="blank"></div>
        <div class="title"><img src="/static/CFPSProject/images/NHSSPC.png"></div>
        <div class="title_phone"><img src="/static/CFPSProject/images/NHSSPhone.png"></div>

        <div class="content-container">
            <div class="content-wrap">
                <p>
                    &emsp;&emsp;一直以来，医疗健康都是人民群众最为关心的问题之一。
                    许多学者都曾对该领域进行过大量的研究。
                    在本文当中，
                    我们将通过详细的数据与直观易于理解的图表来对各地域年份划分下的城乡医疗健康领域的差距做出分析。
                    在数据分析中，我们将一起了解城乡医疗健康水平发展有什么差异，
                    存在什么问题，并针对问题思考其可能的解决方案。
                </p>

                <p>
                    &emsp;&emsp;首先，让我们浏览以下两张2018年城乡居民健康状况自我评估图，
                    直观地了解宏观视角下城乡居民结合主客观因素对自身健康状况所作出评价的差异，
                    从而对城乡医疗健康水平差异形成大致的认知。
                </p>

                <div class="image-wrapT">
                    <div id="A1_Country_HealthSelfAssessment" style="height: 100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id="A2_City_HealthSelfAssessment" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;从该图表中我们不难看出，
                    在整体上，城镇居民相较乡村居民对自身的健康状况评估更高，
                    但差异并不大，对自身健康状况做出“比较健康”及以上评估的人数占比差距很小，
                    甚至在作出“健康”评价的人数占比上，乡村略多于城镇。
                </p>

                <p>
                    &emsp;&emsp;值得注意的是，乡村地区认为自身健康状况为“不健康”的人数占比约为城镇的一倍，
                    这样的现象是我们所需要关注的。造成这一现象的原因我们将在文章中深入研究，
                    并提出看法与一些可行解决思路。
                </p>

                <p>
                    &emsp;&emsp;让我们来浏览以下的2010-2018年城乡家庭医疗保健开支。
                </p>

                <div class="image-wrapT">
                    <div id="B_Comparison_MedicalExpenditures" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;我们不难发现，整体上而言，
                    乡村地区居民在医疗保健上的支出要少于城镇地区的居民，
                    造成这一现象的原因是多样的，如乡村地区居民收入较低，
                    乡村地区医疗设施建设水平相对较低，
                    一些传统观念使乡村地区居民不愿意消费于医疗保健领域等等。
                </p>

                <p>
                    &emsp;&emsp;接下来的是2010-2018年城乡医疗卫生机构床位数图表：
                </p>

                <div class="image-wrapT">
                    <div id="C_MedicalServiceBedAmount" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;从图表中我们可以看出乡村医疗机构卫生床位数要多于城镇医疗机构卫生床位数，
                    但由于乡村地区居民人数要多于城镇地区居民人数，
                    所以在乡村每千人口床位数这一平均指标上，乡村仅能达到城镇的一半。
                </p>

                <p>
                    &emsp;&emsp;接下来，我们将在地域视角下对城乡医疗健康差异进行分析。
                    我国是世界人口数量排名第一的国家，
                    而全国的直辖市、省会城市更是人口集聚的主要地区，
                    因此一个地区三甲医院的数量（包括床位数量、医护人员数量）
                    无疑是反映该地区医疗健康发展水平的重要指标。
                </p>

                <div class="image-wrapT">
                    <div id="D2_Distribution_First_Class_Hospital_at_Grade_3_Pie" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;从图表中我们可以发现，
                    依照三甲医院数量这一指标，
                    医疗健康发展水平在不同地域似乎表现出了巨大的差异。
                    但事实并非如此，不同地区的人口数量及密度也存在着较大的差异，
                    加入这一因素，我们便会发现，各个地区之间的医疗水平差异事实上是不大的。
                </p>
                <br><br><br>
            </div>
        </div>
    </div>

    <!--Education-->
    <div class="main main2">
        <div class="blank"></div>
        <div class="title"><img src="/static/CFPSProject/images/educationPC.png"></div>
        <div class="title_phone"><img src="/static/CFPSProject/images/educationPhone.png"></div>
    
        <div class="content-container">
            <div class="content-wrap">
                <p>
                    &emsp;&emsp;城乡教育差异是广受群众关心的另一重要问题。
                </p>

                <p>
                    &emsp;&emsp;首先，让我们通过一组城乡居民最高学历占比图表来对城乡教育差异产生一个直观的认知：
                </p>

                <div class="image-wrapT">
                    <div id = "A1_2010_City" style="height:100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id = "A2_2010_Country" style="height:100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id = "A3_2018_City" style="height:100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id = "A4_2018_Country" style="height:100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id="B1_2010_Comparison_Education" style="height: 100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id="B2_2018_Comparison_Education" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;从图表中可以看出，尽管城乡教育差异正在逐渐缩小，但差异程度之大仍然令人担忧。
                </p>

                <p>
                    &emsp;&emsp;至2018年为止，乡村地区居民本科率仅约为城镇居民本科率的五分之一，
                    而文盲率为城镇居民的两倍。整体来看，乡村地区的教育水平较大程度的落后于城镇地区，这是不容乐观的。
                </p>
                
                <p>
                    &emsp;&emsp;在这一板块中，我们将聚焦于基础教育领域，对其进行深入研究。
                </p>

                <p>
                    &emsp;&emsp;基础教育（Basic education），指人们在现代社会需要接收的基本教育。 
                    通常包括正规的小学和中学阶段的教育。 接受基础教育是一个人获得具备现代公民素质的基本必要方式。
                    城乡地区的中小学数量及其占比是反映城乡基础教育差异的重要可靠指标。
                </p>

                <div class="image-warpT">
                    <div id = "C1_City_SchoolAmount" style="height: 100%; min-height: 250px; "></div>
                </div>

                <div class="image-warpT">
                    <div id = "C2_Country_SchoolAmount" style="height: 100%;min-height: 250px;"></div>
                </div>

                <p>
                    &emsp;&emsp;从表中我们不难发现，乡村地区的中学比例要远低于城镇地区。
                    这意味着在基础教育阶段的初中阶段，
                    乡村地区的学生能够获得的教育资源较大程度的少于城镇地区的学生。
                </p>

                <div class="image-wrapT">
                    <div id="D1_City_ExtraClasses" style="height: 100%;"></div>
                </div>

                <div class="image-wrapT">
                    <div id="D2_Country_ExtraClasses" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;这一点也可以通过城乡地区义务教育阶段学生参与课外辅导的人数占比差异上看出，
                    相比于乡村地区的学生，城镇地区的学生除课内以外，还更多的接受了课外辅导，
                    这一点使得他们对于乡村地区学生的优势更大。
                </p>

                <div class="image-wrapT">
                    <div id="E_Comparison_AfterCompulsoryEducation" style="height: 100%;"></div>
                </div>

                <p>
                    &emsp;&emsp;这些差异所导致的结果便是乡村地区学生接受完义务教育后，
                    选择升入高中继续学习的比率较显著地低于城镇地区的学生。
                </p>

            </div>
        </div>
    </div>

    <!--The Ending-->
    <div class = "main main3">
        <div class="blank"></div>
        <div class="title"><img src="/static/CFPSProject/images/endingPC.png"></div>
        <div class="title_phone"><img src="/static/CFPSProject/images/endingPhone.png"></div>
    
        <div class="content-container">
            <div class="content-wrap">
                <p>
                    &emsp;&emsp;纵观我国发展历程，我们会发现很多。
                    十数年来，在脱贫攻坚战的连战连捷中，我国实现全面脱贫，人民生活水平得到显著提升。
                    2017年，中央农村工作会议首次提出，
                    我们要走中国特色社会主义乡村振兴道路，让农业成为有奔头的产业，
                    让农民成为有吸引力的职业，让农村成为安居乐业的美丽家园。
                    因此，我们注重乡村基础设施建设，在乡村建立健全完善的社会服务体系，大力推进乡村振兴战略。
                </p>

                <p>
                    &emsp;&emsp;然而，不得不承认的是，一定程度上，当前的乡村基础设施建设工作仍然具有很大的完善空间。
                    事实证明，诸多困扰乡村的疑难杂症的病因之一就是乡村基础设施的缺失。
                    缺少学校，学生自然无从升学；缺少医院，纵为妙手也难回春。反过来，找到能加强乡村基础设施建设，
                    并能建立维护一支能在乡村维持基础设施的技术人员的合理方式方法，或许就是一剂灵丹妙药。
                    因此，大力推进乡村基础设施建设、建立健全乡村社会服务体系，
                    并建立一支强力的社会服务队伍以保障乡村社会服务体系的正常运行，
                    或许可以为乡村振兴添砖加瓦。
                </p>
                <br><br>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="credits">
        <div class="lastdance">
            <p><b>小组成员：</b>陈其轩 何金原 王启帆</p>
            <p><b>指导老师：</b>王效强老师</p>
            <p>
                <b>特别感谢：</b>田所 浩二 <br>
                &emsp;&emsp;&emsp;&emsp;&emsp;奥尔加 · 伊兹卡<br>
                <!--&emsp;&emsp;&emsp;&emsp;&emsp;Vasili · Troyanov · Boyanov<br>-->
                &emsp;&emsp;&emsp;&emsp;&emsp;瓦西里 · 特罗扬诺夫 · 巴扬诺夫<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;西冰库大酒店 Inc.<br>
            </p>
            <p>
                <a href="{{url_for('home')}}">返回数科腾云</a>
            </p>
        </div>
    </div>

    <script src="/static/CFPSProject/javascript/Imports/d3.v5.min.js" language="javascript"></script>
    <script src="/static/CFPSProject/javascript/Imports/d3.min.js" language="javascript"></script>
    <script src="/static/CFPSProject/javascript/Imports/echarts.min.js" language="javascript"></script>
    <script src="/static/CFPSProject/javascript/Imports/jquery-1.7.2.min.js" language="javascript"></script>
    <script src="/static/CFPSProject/javascript/Imports/jquery.color.js" language="javascript"></script>
    <script src="/static/CFPSProject/javascript/Imports/main.js" language="javascript"></script>
    <script src="/static/CFPSProject/javascript/Imports/swiper.min.js" language="javascript"></script>

    <script src="/static/CFPSProject/javascript/Education/B1_2010_Comparison_Education.js" language="javascript"></script>
    <script src="/static/CFPSProject/javascript/Education/B2_2018_Comparison_Education.js" language="javascript"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>

    <script src="/static/CFPSProject/javascript/Education/A1_2010_City.js"></script>
    <script src="/static/CFPSProject/javascript/Education/A2_2010_Country.js"></script>
    <script src="/static/CFPSProject/javascript/Education/A3_2018_City.js"></script>
    <script src="/static/CFPSProject/javascript/Education/A4_2018_Country.js"></script>
    <script src="/static/CFPSProject/javascript/Education/C1_City_SchoolAmount.js"></script>
    <script src="/static/CFPSProject/javascript/Education/C2_Country_SchoolAmount.js"></script>
    <script src="/static/CFPSProject/javascript/Education/D1_City_ExtraClasses.js"></script>
    <script src="/static/CFPSProject/javascript/Education/D2_Country_ExtraClasses.js"></script>
    <script src="/static/CFPSProject/javascript/Education/E_Comparison_AfterCompulsoryEducation.js"></script>
                 
    <script src="/static/CFPSProject/javascript/Economy/A_Comparison_Cash_BankSaving.js"></script>
    <script src="/static/CFPSProject/javascript/Economy/B_Comparison_PerCapitaDisposableIncome.js"></script>
    <script src="/static/CFPSProject/javascript/Economy/C1_City_PerCapitaConsumptionExpenditure.js"></script>
    <script src="/static/CFPSProject/javascript/Economy/C2_Country_PerCapitaConsumptionExpenditure.js"></script>
    <script src="/static/CFPSProject/javascript/Economy/D1_City_Division_Area_PerCapitaDisposableIncome.js"></script>
    <script src="/static/CFPSProject/javascript/Economy/D2_Country_Division_Area_PerCapitaDisposableIncome.js"></script>
    <script src="/static/CFPSProject/javascript/Economy/E_Comparison_Engel.js"></script>
                 
    <script src="/static/CFPSProject/javascript/Others/A1_CFPS_SampleSize_Distribution_Sun.js"></script>
    <script src="/static/CFPSProject/javascript/Others/A1_CFPS_SampleSize_Distribution_Sun.js"></script>
    <script src="/static/CFPSProject/javascript/Others/B_CFPS_QuestionnaireComponent.js"></script>
                 
    <script src="/static/CFPSProject/javascript/Health/A1_Country_HealthSelfAssessment.js"></script>
    <script src="/static/CFPSProject/javascript/Health/A2_City_HealthSelfAssessment.js"></script>
    <script src="/static/CFPSProject/javascript/Health/B_Comparison_MedicalExpenditures.js"></script>
    <script src="/static/CFPSProject/javascript/Health/C_MedicalServiceBedAmount.js"></script>
    <script src="/static/CFPSProject/javascript/Health/D1_Distribution_First_Class_Hospital_at_Grade_3_Sun.js"></script>
    <script src="/static/CFPSProject/javascript/Health/D2_Distribution_First_Class_Hospital_at_Grade_3_Pie.js"></script>

    <script src="/static/CFPSProject/javascript/echart_index.js"></script>

</body>
</html>

